/*            Home           */

.container-fluid{
    font-family: Barlow Condensed;
    font-size: large;
    font-weight:400;
}
.d {
    
    font-size:xx-large;
    -webkit-text-fill-color: aliceblue;
    text-align:justify;
}
.j{
    -webkit-text-fill-color: aliceblue;
}
.j a:hover{
    -webkit-text-fill-color: rgb(69, 248, 46);
}


/*            Apparel      */

.container1 .card {
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px rgb(1, 6, 12);
    padding: 25px;
    height: 22rem;
    width: 20rem;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left:15px;
    background-color:rgb(245, 208, 232) ;

}
.container1 .card:hover{
    background:rgb(241, 11, 165);
    box-shadow:inset 5px 5px 10px  rgba(0,0,0,.3),
    inset 4px 4px 10px white;
    font-weight: 300;
    color:azure;
    transition:1s;


}

/*         Contact Us          */

.x .y .z{
    border: 2px solid rgb(230, 167, 31);
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
    padding: 40px 80px 40px 80px;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    margin-left:350px;
}

input{
    background-color: #f3e073;
}

button{
    background-color: rgb(203, 233, 241);
    border-radius: 5px;
}

    

